/* SCROLL AREA */
.scrollArea{
max-height:300px;
overflow-y:auto;
margin-top:10px;
}

/* SCROLL STYLE */
.scrollArea::-webkit-scrollbar{
width:4px;
}

.scrollArea::-webkit-scrollbar-thumb{
background:#999;
border-radius:10px;
}