body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#2b0a4a,#6a11cb);
color:white;
}

/* SPLASH */
#splash{
position:fixed;
width:100%;
height:100%;
background:#1a0033;
display:flex;
justify-content:center;
align-items:center;
z-index:999;
animation:fadeOut 2s forwards 2s;
}

.logo{
font-size:35px;
font-weight:bold;
animation:zoom 2s infinite alternate;
}

@keyframes zoom{
from{transform:scale(1);}
to{transform:scale(1.2);}
}

@keyframes fadeOut{
to{opacity:0;visibility:hidden;}
}

/* AUTH */
#auth{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.appLogo{
font-size:28px;
margin-bottom:20px;
}

/* INPUT */
input{
width:80%;
padding:12px;
margin:8px;
border-radius:12px;
border:none;
}

/* BUTTON */
button{
padding:12px;
border:none;
border-radius:12px;
margin:6px;
}

/* CARD */
.card{
margin:15px;
padding:20px;
border-radius:20px;
background:#ffffff20;
}

/* SERVICES */
.services{
display:flex;
justify-content:space-around;
margin:20px;
}

.services div{
background:#ffffff20;
padding:15px;
border-radius:15px;
width:40%;
text-align:center;
}

/* TRANSACTION */
.txRow{
display:flex;
justify-content:space-between;
}

.txRight{
display:flex;
align-items:center;
gap:5px;
}

.dot{
width:8px;
height:8px;
border-radius:50%;
background:red;
}

/* POPUP */
.popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#00000080;
justify-content:center;
align-items:center;
}

.popup.active{
display:flex;
}

.popup-box{
background:white;
color:black;
padding:20px;
border-radius:15px;
width:90%;
}

/* WITHDRAW */
.withdrawCard input{
width:100%;
padding:8px;
margin:5px 0;
font-size:14px;
border-radius:8px;
}

/* PASSWORD BOX FIX */
.passwordBox{
position:relative;
width:80%;
margin:8px auto;
}

.passwordBox input{
width:100%;
padding:12px;
padding-right:40px; /* space for eye */
border-radius:12px;
border:none;
box-sizing:border-box;
}

.eyeIcon{
position:absolute;
right:12px;
top:50%;
transform:translateY(-50%);
cursor:pointer;
font-size:16px;
}

/* NAV */
.bottomNav{
position:fixed;
bottom:0;
width:100%;
display:flex;
justify-content:space-around;
background:#111;
padding:10px;
}

/* SCROLL */
.scrollArea{
max-height:200px;
overflow-y:auto;
}